*,html
{
    padding: 0px;
    margin: 0px;
    vertical-align: top;
    font-family: '@Arial Unicode MS',Arial,Tahoma,Verdana;
    border-collapse: collapse;    
}
body
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}
h1
{
    padding: 25px;
}
#Wrapper
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
#Header
{
    height: 50px;
    background-color: #E3EDFA;
    background-image: url('Images/Master/watermark.png');
    background-repeat: repeat;
    background-position: left top;
}
#Sidebar
{
    display: inline-block;
    width: 199px;
    height: 500px;
    background-image: url('Images/Master/SideBar.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #E3EDFA;
    border: 0px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
}
#Content
{
    display: inline-block;
    width: 750px;
    height: 500px;
}
#Footer
{
    background-color: #E3EDFA;
    background-image: url('Images/Master/watermark.png');
    background-repeat: repeat;
    background-position: left top;   
    height: 50px;
}
#SideTopSeperator
{
    height: 40px;
}
#SideBottom
{
    vertical-align: bottom;
    display: inline-block;
    margin-top: 150px;
}
#TitleContainer
{
    height: 90px;
}
#ConvertToUnicodeContent, #ConvertFromUnicodeContent, #StandardsContent, #UnicodeInformationContent, #AboutContent
{
    text-align: justify;
    padding: 0px 20px;
}
.ConvertToUnicodePanel, .ConvertFromUnicodePanel
{
    background-color: #E3EDFA;
    width: 100%;
    height: 225px;
}
.UnicodeInformationPanel
{
    background-color: #E3EDFA;
    width: 100%;
    height: 380px;
}
.AboutLabelContainer
{
    display: inline-block;
    width: 40%;
    margin: 0px 5px;
    white-space: nowrap;
    text-align: right;
    text-align: end;
}
.FirstColLabelContainer
{
    display: inline-block;
    width: 12%;
    margin: 0px 5px;
    white-space: nowrap;
    text-align: right;
    text-align: end;
}
.SecondColLabelContainer
{
    display: inline-block;
    width: 12%;
    margin: 0px 5px;
    white-space: nowrap;
    text-align: right;
    text-align: end;
}
.AboutControlContainer
{
    display: inline-block;
    width: 40%;
    margin: 0px 5px;
}
.FirstColControlContainer
{
    display: inline-block;
    width: 14%;
    white-space: nowrap;
}
.SecondColControlContainer
{
    display: inline-block;
    width: 54%;
    white-space: nowrap;
}
#ConvertToUnicodeInputSection, #ConvertFromUnicodeInputSection
{
    padding: 0px 20px;
}
#ConvertToUnicodeResultSection, #ConvertFromUnicodeResultSection
{
    padding: 10px 20px;
    height: 190px;
}
#StandardListContainer
{
    display: inline-block;
    width: 150px;
    font-weight: bold;
    height: 400px;
    text-align: center;
    text-align: -moz-center;
    !text-align: center;
}
#StandardResult
{
    display: inline-block;
    width: 520px;
    height: 400px;
    padding: 30px 15px;
}
#StandardResultTop
{
    font-weight: bold;
    text-align: center;
    text-align: -moz-center;
    !text-align: center;
    height: 40px;
}
#StandardResultLabels
{
    display: inline-block;
    width: 150px;
    text-align: right;
    text-align: end;
}
#StandardResultLabels span
{
    display: block;
    height: 30px;
}
#StandardResultData
{
    display: inline-block;
    width: 360px;
}
#StandardResultData span, #StandardResultData a
{
    display: block;
    height: 30px;
}
.UnicodeInformationRow, .AboutRow
{
    height: 30px;
    vertical-align: middle;
    margin: 0px 10px;
}