/* LinkButton */
.SideLink
{
    color: Blue;
    padding-left: 45px;
    text-decoration: none;
    font-size: small;
    line-height: 3;
    white-space: nowrap;
    width: 155px;
    display: inline-block;
    border: 0px;
}
.SideLink:hover
{
    border: 0px;
    text-decoration: none;
    background-image: url('Images/Arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
}
.SideLinkActive
{
    color: Blue;
    padding-left: 45px;
    text-decoration: none;
    font-size: small;
    line-height: 3;
    white-space: nowrap;
    width: 155px;
    display: inline-block;
    border: 0px;
    border: 0px;
    text-decoration: none;
    background-image: url('Images/Arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
}
/* Label */
.Title
{
    font-size: x-large;
    font-weight: bolder;
    color: #2b99ee;
}
.SimpleLabel
{
    font-size: medium;
    color: Black;
}
.BoldLabel
{
    font-size: medium;
    font-weight: bold;
    color: Black;
}
/* TextBox */
.Input
{
    width: 76%;
}
.InformationalInput
{
    width: 95%;
    margin: 0px 5px;
}
.Result
{
    width: 100%;
    height: 100%;
}
.UnicodeInformationResult
{
    width: 100%;
    height: 90px;
    margin: 3px 0px;
}
/* Button */
.Button
{
    padding: 0px 8px;
}
/* ListBox */
.StandardList
{
    margin-top: 10px;
    height: 370px;
    border-collapse: collapse;
    border: 1px solid #cdcdcd;
    font-family: '@Arial Unicode MS',Arial,Tahoma,Verdana;
    width: 100%;
}